<%= form_with(model: event, class: "mb-4") do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h4>
      <ul class="mb-0">
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 4 %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.datetime_local_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
