<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h1>Ticket Details</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Event: <%= @ticket.event.title %></h5>
        <p class="card-text">Quantity: <%= @ticket.quantity %></p>
        <p class="card-text">Purchased on: <%= @ticket.purchased_at.strftime('%B %d, %Y at %I:%M %p') %></p>
        <p class="card-text"><strong>Event Details:</strong></p>
        <ul>
          <li>Description: <%= @ticket.event.description %></li>
          <li>Date: <%= @ticket.event.date.strftime('%B %d, %Y at %I:%M %p') %></li>
          <li>Location: <%= @ticket.event.location %></li>
          <li>Organizer: <%= @ticket.event.organizer.email %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-grid gap-2">
      <%= link_to "Edit Ticket", edit_ticket_path(@ticket), class: "btn btn-warning" %>
      <%= button_to "Cancel Ticket", @ticket, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to cancel this ticket?" } %>
      <%= link_to "Back to My Tickets", tickets_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
